<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot password</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <%-include("../components/navbar")%>
    <form action="/forgotPassword" method="post">
      <p style="color: red"><%-error%></p>
      <input type="email" name="email" placeholder="Email" />

      <input type="submit" value="Send OTP" />
    </form>
  </body>
</html>
